version: '2'
services:

    postgres:
        image: postgres
        environment:
          - POSTGRES_DB=test_db
        ports:
          - 5433:5432

    app-test:
        image: contessa
        build: .
        command: tail -f /dev/null
        environment:
          - TEST_DB_URI=postgresql+psycopg2://postgres:@postgres:5432/test_db
          - ALEMBIC_INI_PATH=/app/contessa/alembic.ini
        volumes:
          - ./test:/app/test
          - ./contessa:/app/contessa
        depends_on:
          - postgres
